body {
	margin: 0px;
	font-family: verdana;
}


#main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


#header {
	text-align: right;
	width: 99%;
	background-color: #F0F0F0;
	margin-bottom: 20px;
	padding: 3px;
	padding-right: 1%;
	border-bottom: 1px solid #C0C0C0;
}



/* sticky footer */

* {
margin: 0;
}


html, body {
height: 100%;
}


.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -41px; /* MUST be height + border + padding of .footer */
overflow: hidden;
}


.footer, .push {
height: 30px;
}


.footer {
	background-color: #F0F0F0;
	border-top: 1px solid #C0C0C0;
	text-align: center;
	padding-top: 10px;
}

/* /sticky footer */


h3 {
	margin: 10px;
	margin-left: 0px;
}


#accountForm input[type="text"], #accountForm input[type="password"] {
	float: right;
	position: relative;
	bottom: 7px;
}

a:link, a:visited {
	text-decoration: none;
	color: #606060;
	font-weight: bold;
}

a:hover {
	color: #202020;
}


.pageTitle {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	padding: 3px;
	margin: 3px;
	width: 17em;
}


button, input[type="submit"] {
	line-height: 22px !important;
}

.mainButton , button, input[type="submit"] {
	background: #97c9d1;
	/*background-image: -webkit-linear-gradient(top, #97c9d1, #97c9d1); 
	background-image:    -moz-linear-gradient(top, #97c9d1, #97c9d1); 
	background-image:     -ms-linear-gradient(top, #97c9d1, #97c9d1); 
	background-image:      -o-linear-gradient(top, #97c9d1, #97c9d1); 
	background-image:         linear-gradient(top, #97c9d1, #97c9d1);*/
	border: 1px solid rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #606060;
	//display: block;
	font-family: verdana;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
	line-height: 38px;
	height: auto;
	display: inline;
	//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	//text-transform: uppercase;
	margin: 0px;
	margin-right: 20px;
}

.smallButton {
	font-size: 14px !important;
	padding: 3px 8px 2px 8px !important;
}


button:hover, input[type="submit"]:hover, .mainButton:hover, .smallButton:hover {
	background: #75B5BF;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: #000;
	display: inline;
}


.editBox {
	display: none;
}

.warning{
	color: red;
}

#accountForm {
	width: 450px;
}


.listItem {
	color: #606060;
	font-weight: bold;
}

.listItem:hover {
	color: #202020;
	cursor: hand; cursor: pointer;
}


.smallBox {
	width: 6em !important;
}


.floatSpan {
	float: left;
	margin-right: 35px;
}

.clearfloat {
	clear: both;
}


/***** GPA styles **********/

/*#completedGPA, #semesterGPA, #projectedGPA {
	font-size: 24px;
	font-family: times new roman;
	font-weight: heavy;
	float: left;
	margin-right: 60px;
	text-align: center;
}*/

#completedGPA {
	color: #E0702D;
}

#semesterGPA {
	color: #42B359;
}

#projectedGPA {
	color: #42A0B3;
}








